In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
import scipy.stats as st

# Suppress warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
#reading csvs from cleaned data set
cleaned_pop_df = pd.read_csv("../CleanedData/cleaned_population.csv")
cleaned_rental_df = pd.read_csv("../CleanedData/cleaned_rental.csv")
cleaned_housing_df = pd.read_csv("../CleanedData/cleaned_inventory.csv")

#all house price csv 
house_df = pd.read_csv("../RawData/HomePriceFull.csv")

#top&bottom csvs
T_pop1819 = pd.read_csv("../TopBottom/mostchangedpop18-19.csv")
T_pop1920 = pd.read_csv("../TopBottom/mostchangedpop19-20.csv")
B_pop1819 = pd.read_csv("../TopBottom/leastchangedpop18-19.csv")
B_pop1920 = pd.read_csv("../TopBottom/leastchangedpop19-20.csv")
T_house = pd.read_csv("../TopBottom/top10inventory.csv")
B_house = pd.read_csv("../TopBottom/bottom10inventory.csv")
T_rental = pd.read_csv("../TopBottom/top10rental.csv")
B_rental = pd.read_csv("../TopBottom/bottom10rental.csv")

max_rate_change = pd.read_csv("../TopBottom/mostratechange18-20.csv")
least_rate_change = pd.read_csv("../TopBottom/leastratechange18-20.csv")


#data set with changing rates
population_df = pd.read_csv("sorted_population.csv")
rental_df = pd.read_csv("../QuestionsAnalysis/rental_rate.csv")
housing_df = pd.read_csv("../QuestionsAnalysis/housing_rate.csv")
All_df =pd.read_csv("../QuestionsAnalysis/ChangingRates.csv")

In [3]:
population_df

,Unnamed: 0,City,State,2018 Population,2019 Population,2020 Population,2018-2019 Population Rate,2019-2020 Population Rate
0,153,Frisco,TX,188452,200490,215060,6.387834,7.267195
1,168,Salt Lake City,UT,200435,200567,213367,0.065857,6.381907
2,27,Irvine,CA,281732,287401,303956,2.012196,5.760244
3,162,McKinney,TX,191748,199177,208487,3.874356,4.674234
4,175,Bellevue,WA,147064,148164,154647,0.747974,4.375557
...,...,...,...,...,...,...,...,...
177,92,Shreveport,LA,189360,187112,183819,-1.187157,-1.759909
178,136,Pittsburgh,PA,300570,300286,294860,-0.094487,-1.806944
179,103,St. Louis,MO,303419,300576,293792,-0.936988,-2.257000
180,121,Fayetteville,NC,210748,211657,205646,0.431321,-2.839972
181,76,Columbus,GA,194169,195769,189296,0.824024,-3.306448

In [8]:
Birmingham = population_df.loc[(population_df["City"]=="Birmingham")]
Birmingham

Empty DataFrame
Columns: [Unnamed: 0, City, State, 2018 Population, 2019 Population, 2020 Population, 2018-2019 Population Rate, 2019-2020 Population Rate]
Index: []

In [ ]:


#selecting house price data from 2018 to 2020 for each city
Boston = result_df.iloc[0, 272:]
Salt_Lake_City = result_df.iloc[1, 272:]
Minneapolis = result_df.iloc[2, 272:]
Seattle = result_df.iloc[3, 272:]
Miami = result_df.iloc[4, 272:]
Atlanta = result_df.iloc[5, 272:]
ColumbusOH = result_df.iloc[6, 272:]
ColumbusGA = result_df.iloc[7, 272:]
FayettevilleNC = result_df.iloc[8, 272:]
Louisville = result_df.iloc[9, 272:]
PortlandOR = result_df.iloc[10, 272:]
SanJose = result_df.iloc[11, 272:]
NewYork = result_df.iloc[12, 272:]
OklahomaCity = result_df.iloc[13, 272:]
Denver = result_df.iloc[14, 272:]
KansasCity = result_df.iloc[15, 272:]

#calcuating yearl average of house price of each city
H2018 = ['City', 'State', '1/31/18', '2/28/18', '3/31/18', '4/30/18', '5/31/18',
       '6/30/18', '7/31/18', '8/31/18', '9/30/18', '10/31/18', '11/30/18', '12/31/18']
H2018 = result_df[H2018]
H2018["2018 Average"]=H2018.mean(axis=1)

H2019 = ['City', 'State', '1/31/19', '2/28/19', '3/31/19', '4/30/19', '5/31/19',
       '6/30/19', '7/31/19', '8/31/19', '9/30/19', '10/31/19', '11/30/19', '12/31/19']
H2019 = result_df[H2019]
H2019["2019 Average"]=H2019.mean(axis=1)

H2020 = ['City', 'State','1/31/20', '2/29/20', '3/31/20', '4/30/20', '5/31/20',
       '6/30/20', '7/31/20', '8/31/20', '9/30/20']
H2020 = result_df[H2020]
H2020["2020 Average"]=H2020.mean(axis=1)

#making dataframe
Havg_df = H2018[['City', 'State']]
Havg_df["2018 Average"] = H2018["2018 Average"]
Havg_df["2019 Average"] = H2019["2019 Average"]
Havg_df["2020 Average"] = H2020["2020 Average"]
Havg_df.head()

warnings.filterwarnings('ignore')
warnings.filterwarnings(action='once')

#calculating yearly changing rate for each city
Hrating_df = H2018[['City', 'State']]
Hrating_df["Changing Rate 2018-2019"] = ((Havg_df["2019 Average"]- Havg_df["2018 Average"])/Havg_df["2019 Average"])*100
Hrating_df["Changing Rate 2019-2020"] = ((Havg_df["2020 Average"]- Havg_df["2019 Average"])/Havg_df["2020 Average"])*100

ax = Hrating_df.plot.barh(color=["green","orange"], rot=0)
ax.set_title("Changing Rate in House Price from 2018 to 2020")
ax.set_xlabel("Annual Rate of Change in Housing Price")
ax.set_ylabel("Changing Rate in House Price")
x_axis = np.arange(Hrating_df["City"].nunique())
tick_locations = [value for value in x_axis]
plt.yticks(tick_locations, list(Hrating_df["City"]), rotation='horizontal')
plt.legend(loc = 'best')
plt.show()

In [ ]:
%matplotlib notebook
popBR1920 = result_df["2019-2020 Population Rate"]
x_axis = np.arange(B_pop1920["City"].nunique())
plt.barh(x_axis, popBR1920, color="orange")
tick_locations = [value for value in x_axis]
plt.yticks(tick_locations, list(B_pop1920["City"]), rotation='horizontal')
plt.title("Cities with the Largest Decrease in Population Rate 2019-2020")
plt.xlabel("Population Rate Increases (%)")
plt.tight_layout()

plt.savefig('../Output/Cities with the Largest Decrease in Population Rate in 2019-2020H.png')
plt.show()