In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [8]:
#read csv file 
housing_df = pd.read_csv("../RawData/HomePriceFull.csv")

In [9]:
housing_df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', '1/31/96', '2/29/96',
       ...
       '12/31/19', '1/31/20', '2/29/20', '3/31/20', '4/30/20', '5/31/20',
       '6/30/20', '7/31/20', '8/31/20', '9/30/20'],
      dtype='object', length=305)

In [10]:
#2018 inventory price data 
housing_df = housing_df.rename(columns={"RegionName":"City"})
columns_pull = ['City', 'State', '1/31/18', '2/28/18', '3/31/18', '4/30/18', '5/31/18',
       '6/30/18', '7/31/18', '8/31/18', '9/30/18', '10/31/18', '11/30/18', '12/31/18']
housing_2018 = housing_df[columns_pull]

In [11]:
#calculating yearly average of the house price
housing_2018["Yearly Average"] = housing_2018.mean(axis=1)
order = ['City', 'State', 'Yearly Average', '1/31/18', '2/28/18', '3/31/18', '4/30/18', '5/31/18',
       '6/30/18', '7/31/18', '8/31/18', '9/30/18', '10/31/18', '11/30/18', '12/31/18']

housing_2018 = housing_2018[order]

In [12]:
#finding the top 10 cities with the highest avg house price
housing_2018top = housing_2018.nlargest(20, 'Yearly Average')
housing_2018top['City'].unique

<bound method Series.unique of 6345            Atherton
13597               Avon
24281         Sagaponack
22092        Hunts Point
17869     Jupiter Island
5868     Los Altos Hills
4694        Hillsborough
9159      Portola Valley
22953       Golden Beach
24384      Fisher Island
13433          Belvedere
4839            Woodside
22619      Stinson Beach
6357           Montecito
10856       Monte Sereno
1684           Los Altos
17706       Hidden Hills
15640         Water Mill
14340      Rolling Hills
3803            Stanford
Name: City, dtype: object>

In [13]:
housing_2018top

,City,State,Yearly Average,1/31/18,2/28/18,3/31/18,4/30/18,5/31/18,6/30/18,7/31/18,8/31/18,9/30/18,10/31/18,11/30/18,12/31/18
6345,Atherton,CA,6.167859e+06,5870867.0,5900673.0,5963828.0,6009348.0,6115893.0,6187192.0,6251973.0,6304307,6340503,6372647,6367095,6329979
13597,Avon,MS,6.072976e+06,6004222.0,6052087.0,6106307.0,6125265.0,6109763.0,6099300.0,6055705.0,6046498,6037779,6068602,6064544,6105643
24281,Sagaponack,NY,5.259816e+06,5156412.0,5181058.0,5207186.0,5210206.0,5221590.0,5240281.0,5271803.0,5303574,5323420,5338496,5340315,5323446
22092,Hunts Point,WA,4.836165e+06,4700265.0,4786658.0,4840565.0,4874615.0,4883224.0,4890221.0,4873044.0,4856221,4850836,4850962,4827350,4800020
17869,Jupiter Island,FL,4.545706e+06,4537092.0,4543214.0,4548393.0,4551119.0,4545845.0,4546366.0,4542516.0,4544379,4535221,4544339,4559034,4550956
5868,Los Altos Hills,CA,4.456008e+06,4253804.0,4335712.0,4409721.0,4442456.0,4506614.0,4561814.0,4629572.0,4597661,4534731,4460505,4406254,4333253
4694,Hillsborough,CA,4.381004e+06,4157660.0,4212142.0,4268609.0,4319361.0,4371890.0,4418451.0,4445079.0,4484426,4497262,4502001,4471732,4423434
9159,Portola Valley,CA,4.286965e+06,4044148.0,4095485.0,4152747.0,4210621.0,4289757.0,4356970.0,4393597.0,4426218,4434636,4408412,4352768,4278225
22953,Golden Beach,FL,3.750646e+06,3729946.0,3739548.0,3746944.0,3763963.0,3749989.0,3735859.0,3739468.0,3751700,3764982,3749071,3767150,3769136
24384,Fisher Island,FL,3.564074e+06,3556967.0,3578272.0,3587183.0,3602865.0,3590465.0,3578558.0,3555919.0,3547327,3544408,3529655,3543764,3553506
13433,Belvedere,CA,3.534378e+06,3464845.0,3477469.0,3487243.0,3507980.0,3540471.0,3550875.0,3548938.0,3551035,3559949,3571719,3569681,3582327
4839,Woodside,CA,3.409516e+06,3277402.0,3312516.0,3347175.0,3369761.0,3403978.0,3425234.0,3438090.0,3455694,3465220,3485030,3477182,3456906
22619,Stinson Beach,CA,3.372017e+06,3173512.0,3216490.0,3272079.0,3289037.0,3295503.0,3303998.0,3354901.0,3404193,3443823,3504144,3568765,3637758
6357,Montecito,CA,3.164895e+06,3080233.0,3101431.0,3130663.0,3134057.0,3149926.0,3149089.0,3182167.0,3203702,3218732,3212355,3206503,3209878
10856,Monte Sereno,CA,3.145459e+06,2991502.0,3046767.0,3089613.0,3118412.0,3150712.0,3171595.0,3202790.0,3207798,3211150,3207776,3191337,3156056
1684,Los Altos,CA,3.128493e+06,2936613.0,3001014.0,3055794.0,3087847.0,3135169.0,3176921.0,3221648.0,3226750,3211674,3191821,3167313,3129357
17706,Hidden Hills,CA,3.116892e+06,3000876.0,3028558.0,3058844.0,3085693.0,3104340.0,3122920.0,3143541.0,3159044,3167923,3173802,3178831,3178336
15640,Water Mill,NY,3.044480e+06,3053667.0,3057456.0,3067293.0,3046235.0,3021477.0,2999893.0,3008554.0,3023694,3039805,3058244,3075813,3081630
14340,Rolling Hills,CA,3.020173e+06,3002054.0,3014638.0,3035888.0,3051204.0,3064912.0,3071989.0,3057671.0,3029303,2996508,2984518,2973777,2959610
3803,Stanford,CA,3.015614e+06,2906580.0,2963723.0,3012340.0,3029738.0,3062261.0,3093674.0,3114603.0,3086795,3054275,3008424,2958925,2896036

In [14]:
#finding the bottom 10 cities with the highest avg house price

housing_2018bottom = housing_2018.nsmallest(20, 'Yearly Average')
housing_2018bottom['City'].unique

<bound method Series.unique of 26085       Cotton Plant
12425               Davy
23558    East Laurinburg
24552            Matoaka
24787          Patterson
8241          Shenandoah
20678            Belmore
20809           Bramwell
9384        Mahanoy City
14412    Dobbins Heights
20700            Gosnell
25864               Rome
16641             Iaeger
21454           Montcalm
24058           Oak Hall
21761            Rhodell
23521               Luke
25075         Payne City
23351           Idlewild
19979             Huttig
Name: City, dtype: object>

In [15]:
housing_2018bottom

,City,State,Yearly Average,1/31/18,2/28/18,3/31/18,4/30/18,5/31/18,6/30/18,7/31/18,8/31/18,9/30/18,10/31/18,11/30/18,12/31/18
26085,Cotton Plant,AR,11649.083333,11732.0,11693.0,11753.0,11819.0,11833.0,11709.0,11539.0,11335,11420,11526,11712,11718
12425,Davy,WV,13147.166667,13165.0,13063.0,13027.0,13091.0,13178.0,13168.0,13180.0,13125,13132,13113,13217,13307
23558,East Laurinburg,NC,14324.000000,13665.0,13542.0,13492.0,13609.0,13977.0,14167.0,14276.0,14440,14824,15156,15324,15416
24552,Matoaka,WV,14624.250000,14483.0,14619.0,14763.0,14774.0,14824.0,14685.0,14680.0,14697,14627,14547,14392,14400
24787,Patterson,AR,15291.666667,14899.0,14924.0,14984.0,15097.0,15238.0,15295.0,15344.0,15387,15506,15632,15652,15542
8241,Shenandoah,PA,15806.333333,15778.0,15974.0,16041.0,16190.0,16171.0,16190.0,16101.0,15915,15578,15291,15186,15261
20678,Belmore,OH,16417.750000,16061.0,16251.0,16383.0,16407.0,16272.0,16198.0,16178.0,16265,16486,16747,16903,16862
20809,Bramwell,WV,16700.416667,17032.0,17011.0,16946.0,16958.0,16825.0,16730.0,16506.0,16372,16234,16396,16613,16782
9384,Mahanoy City,PA,16954.583333,17173.0,17156.0,17086.0,17004.0,17103.0,17303.0,17327.0,17200,16740,16558,16377,16428
14412,Dobbins Heights,NC,17751.083333,17041.0,17077.0,17186.0,17332.0,17456.0,17513.0,17586.0,17782,18063,18424,18725,18828
20700,Gosnell,AR,17877.500000,17236.0,17323.0,17398.0,17559.0,17729.0,17875.0,18004.0,18096,18203,18265,18385,18457
25864,Rome,OH,18209.166667,17211.0,17483.0,17581.0,17908.0,18176.0,18309.0,18276.0,18279,18570,18828,18988,18901
16641,Iaeger,WV,18244.166667,17717.0,17741.0,17808.0,18013.0,17975.0,18040.0,18103.0,18234,18384,18615,18992,19308
21454,Montcalm,WV,18616.500000,18776.0,18801.0,18810.0,18726.0,18600.0,18534.0,18530.0,18574,18601,18511,18485,18450
24058,Oak Hall,VA,18846.750000,18696.0,18516.0,18431.0,18535.0,18672.0,18801.0,18878.0,18991,19100,19121,19156,19264
21761,Rhodell,WV,19469.416667,19702.0,19750.0,19779.0,19772.0,19693.0,19632.0,19456.0,19411,19263,19140,19056,18979
23521,Luke,MD,19670.666667,20222.0,20217.0,20274.0,20096.0,19848.0,19477.0,19322.0,19278,19298,19236,19272,19508
25075,Payne City,GA,20091.000000,19926.0,20174.0,20307.0,20263.0,20162.0,20113.0,20124.0,20119,20207,20134,19948,19615
23351,Idlewild,MI,20488.000000,18091.0,18714.0,19208.0,19685.0,20021.0,20404.0,20713.0,21029,21424,21828,22268,22471
19979,Huttig,AR,20800.666667,20479.0,20404.0,20599.0,20765.0,20830.0,20675.0,20602.0,20656,20844,21147,21317,21290

In [16]:
#2019 inventory data
columns_pull = ['City', 'State', '1/31/19', '2/28/19', '3/31/19', '4/30/19', '5/31/19',
       '6/30/19', '7/31/19', '8/31/19', '9/30/19', '10/31/19', '11/30/19', '12/31/19']
housing_2019 = housing_df[columns_pull]
housing_2019

,City,State,1/31/19,2/28/19,3/31/19,4/30/19,5/31/19,6/30/19,7/31/19,8/31/19,9/30/19,10/31/19,11/30/19,12/31/19
0,New York,NY,629748,629807,630547,630499,631055,630202,630091,628669,627101,625656,624568,624329
1,Los Angeles,CA,699716,696405,693381,692770,697440,703920,705113,704907,704465,707935,710133,714109
2,Houston,TX,183815,184795,185234,185159,185422,186223,187154,187964,188095,188369,188440,188921
3,Chicago,IL,267126,266817,266950,267709,268376,268754,268861,268746,267868,267303,266611,266519
4,San Antonio,TX,184815,186346,186831,187843,188627,189666,190293,190770,191362,191720,192199,192325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26374,Blockton,IA,27897,27977,28075,28094,28283,28498,28407,28397,28669,29453,30226,30665
26375,Smethport,PA,73843,74132,74418,74840,75165,75752,76104,76470,76566,76692,76726,76745
26376,Winfield,TX,66006,66389,66912,67627,68413,68600,68858,68811,69470,70051,70551,70929
26377,Mount Charleston,NV,376029,375455,374664,375051,378511,382142,385076,383238,380270,377735,378425,380050
26378,Clearview,WV,140543,141096,141851,142621,143201,143824,144155,144418,144568,145286,145658,146075

In [17]:
#calculating the yarly average house price in 2019
housing_2019["Yearly Average"]=housing_2019.mean(axis=1)
order = ['City', 'State', 'Yearly Average', '1/31/19', '2/28/19', '3/31/19', '4/30/19', '5/31/19',
       '6/30/19', '7/31/19', '8/31/19', '9/30/19', '10/31/19', '11/30/19', '12/31/19']

housing_2019 = housing_2019[order]

In [18]:
#finding the top 10 cities with the highest avg house price
housing_2019top = housing_2019.nlargest(20, 'Yearly Average')
housing_2019top['City'].unique

<bound method Series.unique of 13597               Avon
6345            Atherton
24281         Sagaponack
22092        Hunts Point
17869     Jupiter Island
4694        Hillsborough
9159      Portola Valley
5868     Los Altos Hills
22953       Golden Beach
13433          Belvedere
22619      Stinson Beach
4839            Woodside
24384      Fisher Island
23446    Belleair Shores
17706       Hidden Hills
6357           Montecito
1609       Beverly Hills
3033              Malibu
15640         Water Mill
10856       Monte Sereno
Name: City, dtype: object>

In [19]:
#finding the bottom 10 cities with the highest avg house price

housing_2019bottom = housing_2019.nsmallest(20, 'Yearly Average')
housing_2019bottom['City'].unique

<bound method Series.unique of 26085       Cotton Plant
12425               Davy
24552            Matoaka
24787          Patterson
23558    East Laurinburg
9384        Mahanoy City
8241          Shenandoah
20809           Bramwell
20678            Belmore
21454           Montcalm
14412    Dobbins Heights
20700            Gosnell
25864               Rome
21761            Rhodell
16641             Iaeger
25075         Payne City
23521               Luke
19979             Huttig
19232           Lashmeet
22086         Smithfield
Name: City, dtype: object>

In [20]:
#2020 inventory data
columns_pull = ['City', 'State','1/31/20', '2/29/20', '3/31/20', '4/30/20', '5/31/20',
       '6/30/20', '7/31/20', '8/31/20', '9/30/20']
housing_2020 = housing_df[columns_pull]
housing_2020

,City,State,1/31/20,2/29/20,3/31/20,4/30/20,5/31/20,6/30/20,7/31/20,8/31/20,9/30/20
0,New York,NY,624680,624947,624563,625025,625187,626609,627671,629936,632271
1,Los Angeles,CA,718163,724618,731034,736655,738996,740780,747509,757047,768046
2,Houston,TX,189055,189529,190455,191618,192630,193385,194246,195245,196902
3,Chicago,IL,266784,267377,268315,269091,269955,271134,273126,275564,278816
4,San Antonio,TX,192858,193046,193730,194053,194575,195057,195872,196886,198162
...,...,...,...,...,...,...,...,...,...,...,...
26374,Blockton,IA,30918,31330,31698,32124,32390,32730,33279,33914,34391
26375,Smethport,PA,76853,76949,77006,76844,76595,76003,75538,74984,74649
26376,Winfield,TX,71164,71252,71322,71433,71565,71937,72561,73178,73572
26377,Mount Charleston,NV,381352,383120,384323,385889,384576,382582,380354,382602,385977
26378,Clearview,WV,146435,146917,147155,147246,147623,148060,148680,149077,149831

In [21]:
#calculating the yarly average house price in 2019
housing_2020["Yearly Average"]=housing_2020.mean(axis=1)
order = ['City', 'State', 'Yearly Average','1/31/20', '2/29/20', '3/31/20', '4/30/20', '5/31/20',
       '6/30/20', '7/31/20', '8/31/20', '9/30/20']
housing_2020 = housing_2020[order]

In [22]:
#finding the top 10 cities with the highest avg house price
housing_2020top = housing_2020.nlargest(20, 'Yearly Average')
housing_2020top['City'].unique

<bound method Series.unique of 13597               Avon
6345            Atherton
24281         Sagaponack
22092        Hunts Point
17869     Jupiter Island
4694        Hillsborough
5868     Los Altos Hills
9159      Portola Valley
13433          Belvedere
22953       Golden Beach
4839            Woodside
17706       Hidden Hills
22619      Stinson Beach
23446    Belleair Shores
1609       Beverly Hills
6357           Montecito
3033              Malibu
24384      Fisher Island
1684           Los Altos
10856       Monte Sereno
Name: City, dtype: object>

In [23]:
#finding the bottom 10 cities with the highest avg house price

housing_2020bottom = housing_2020.nsmallest(20, 'Yearly Average')
housing_2020bottom['City'].unique

<bound method Series.unique of 26085       Cotton Plant
24552            Matoaka
12425               Davy
9384        Mahanoy City
24787          Patterson
23558    East Laurinburg
20809           Bramwell
8241          Shenandoah
21454           Montcalm
20678            Belmore
14412    Dobbins Heights
21761            Rhodell
20700            Gosnell
25864               Rome
23521               Luke
15759          Roosevelt
16641             Iaeger
19232           Lashmeet
19979             Huttig
17829        Wheelwright
Name: City, dtype: object>

In [24]:
housing_2018top

,City,State,Yearly Average,1/31/18,2/28/18,3/31/18,4/30/18,5/31/18,6/30/18,7/31/18,8/31/18,9/30/18,10/31/18,11/30/18,12/31/18
6345,Atherton,CA,6.167859e+06,5870867.0,5900673.0,5963828.0,6009348.0,6115893.0,6187192.0,6251973.0,6304307,6340503,6372647,6367095,6329979
13597,Avon,MS,6.072976e+06,6004222.0,6052087.0,6106307.0,6125265.0,6109763.0,6099300.0,6055705.0,6046498,6037779,6068602,6064544,6105643
24281,Sagaponack,NY,5.259816e+06,5156412.0,5181058.0,5207186.0,5210206.0,5221590.0,5240281.0,5271803.0,5303574,5323420,5338496,5340315,5323446
22092,Hunts Point,WA,4.836165e+06,4700265.0,4786658.0,4840565.0,4874615.0,4883224.0,4890221.0,4873044.0,4856221,4850836,4850962,4827350,4800020
17869,Jupiter Island,FL,4.545706e+06,4537092.0,4543214.0,4548393.0,4551119.0,4545845.0,4546366.0,4542516.0,4544379,4535221,4544339,4559034,4550956
5868,Los Altos Hills,CA,4.456008e+06,4253804.0,4335712.0,4409721.0,4442456.0,4506614.0,4561814.0,4629572.0,4597661,4534731,4460505,4406254,4333253
4694,Hillsborough,CA,4.381004e+06,4157660.0,4212142.0,4268609.0,4319361.0,4371890.0,4418451.0,4445079.0,4484426,4497262,4502001,4471732,4423434
9159,Portola Valley,CA,4.286965e+06,4044148.0,4095485.0,4152747.0,4210621.0,4289757.0,4356970.0,4393597.0,4426218,4434636,4408412,4352768,4278225
22953,Golden Beach,FL,3.750646e+06,3729946.0,3739548.0,3746944.0,3763963.0,3749989.0,3735859.0,3739468.0,3751700,3764982,3749071,3767150,3769136
24384,Fisher Island,FL,3.564074e+06,3556967.0,3578272.0,3587183.0,3602865.0,3590465.0,3578558.0,3555919.0,3547327,3544408,3529655,3543764,3553506
13433,Belvedere,CA,3.534378e+06,3464845.0,3477469.0,3487243.0,3507980.0,3540471.0,3550875.0,3548938.0,3551035,3559949,3571719,3569681,3582327
4839,Woodside,CA,3.409516e+06,3277402.0,3312516.0,3347175.0,3369761.0,3403978.0,3425234.0,3438090.0,3455694,3465220,3485030,3477182,3456906
22619,Stinson Beach,CA,3.372017e+06,3173512.0,3216490.0,3272079.0,3289037.0,3295503.0,3303998.0,3354901.0,3404193,3443823,3504144,3568765,3637758
6357,Montecito,CA,3.164895e+06,3080233.0,3101431.0,3130663.0,3134057.0,3149926.0,3149089.0,3182167.0,3203702,3218732,3212355,3206503,3209878
10856,Monte Sereno,CA,3.145459e+06,2991502.0,3046767.0,3089613.0,3118412.0,3150712.0,3171595.0,3202790.0,3207798,3211150,3207776,3191337,3156056
1684,Los Altos,CA,3.128493e+06,2936613.0,3001014.0,3055794.0,3087847.0,3135169.0,3176921.0,3221648.0,3226750,3211674,3191821,3167313,3129357
17706,Hidden Hills,CA,3.116892e+06,3000876.0,3028558.0,3058844.0,3085693.0,3104340.0,3122920.0,3143541.0,3159044,3167923,3173802,3178831,3178336
15640,Water Mill,NY,3.044480e+06,3053667.0,3057456.0,3067293.0,3046235.0,3021477.0,2999893.0,3008554.0,3023694,3039805,3058244,3075813,3081630
14340,Rolling Hills,CA,3.020173e+06,3002054.0,3014638.0,3035888.0,3051204.0,3064912.0,3071989.0,3057671.0,3029303,2996508,2984518,2973777,2959610
3803,Stanford,CA,3.015614e+06,2906580.0,2963723.0,3012340.0,3029738.0,3062261.0,3093674.0,3114603.0,3086795,3054275,3008424,2958925,2896036

In [25]:
#summary table of top 10 cities 

City = housing_2018top["City"]
Average = housing_2018top["Yearly Average"]
top10_df=pd.DataFrame({"Top 10 in 2018":City, "Yearly Average of Top 10 in 2018" : Average})

top10_df['Top 10 in 2019']= housing_2019top["City"]
top10_df['Yearly Average of Top 10 in 2019']=housing_2019top["Yearly Average"]

top10_df['Top 10 in 2020']= housing_2020top["City"]
top10_df['Yearly Average of Top 10 in 2020']=housing_2020top["Yearly Average"]
top10_df.to_csv("top10inventory.csv")
top10_df

,Top 10 in 2018,Yearly Average of Top 10 in 2018,Top 10 in 2019,Yearly Average of Top 10 in 2019,Top 10 in 2020,Yearly Average of Top 10 in 2020
6345,Atherton,6.167859e+06,Atherton,6.348232e+06,Atherton,6.571908e+06
13597,Avon,6.072976e+06,Avon,6.515530e+06,Avon,6.801660e+06
24281,Sagaponack,5.259816e+06,Sagaponack,5.317295e+06,Sagaponack,5.477137e+06
22092,Hunts Point,4.836165e+06,Hunts Point,4.761428e+06,Hunts Point,5.073731e+06
17869,Jupiter Island,4.545706e+06,Jupiter Island,4.486881e+06,Jupiter Island,4.706632e+06
5868,Los Altos Hills,4.456008e+06,Los Altos Hills,4.089685e+06,Los Altos Hills,4.260936e+06
4694,Hillsborough,4.381004e+06,Hillsborough,4.383599e+06,Hillsborough,4.491724e+06
9159,Portola Valley,4.286965e+06,Portola Valley,4.204185e+06,Portola Valley,4.218179e+06
22953,Golden Beach,3.750646e+06,Golden Beach,3.684360e+06,Golden Beach,3.681118e+06
24384,Fisher Island,3.564074e+06,Fisher Island,3.434930e+06,Fisher Island,3.145461e+06
13433,Belvedere,3.534378e+06,Belvedere,3.649739e+06,Belvedere,3.879285e+06
4839,Woodside,3.409516e+06,Woodside,3.476528e+06,Woodside,3.601019e+06
22619,Stinson Beach,3.372017e+06,Stinson Beach,3.588899e+06,Stinson Beach,3.512610e+06
6357,Montecito,3.164895e+06,Montecito,3.218782e+06,Montecito,3.281310e+06
10856,Monte Sereno,3.145459e+06,Monte Sereno,3.006010e+06,Monte Sereno,3.107197e+06
1684,Los Altos,3.128493e+06,NaN,NaN,Los Altos,3.123236e+06
17706,Hidden Hills,3.116892e+06,Hidden Hills,3.263715e+06,Hidden Hills,3.518367e+06
15640,Water Mill,3.044480e+06,Water Mill,3.052834e+06,NaN,NaN
14340,Rolling Hills,3.020173e+06,NaN,NaN,NaN,NaN
3803,Stanford,3.015614e+06,NaN,NaN,NaN,NaN

# some error on the chart for some reason... (NaN in 2019 and 2020 data)

In [26]:
#summary table of bottom 10 cities 

Bcity = housing_2018bottom["City"]
Baverage = housing_2018bottom["Yearly Average"]
bottom10_df=pd.DataFrame({"Bottom 10 in 2018":Bcity, "Yearly Average of Bottom 10 in 2018" : Baverage})


bottom10_df['Bottom 10 in 2019'] = housing_2019bottom["City"]
bottom10_df['Yearly Average of Bottom 10 in 2019'] = housing_2019bottom["Yearly Average"]

bottom10_df['Bottom 10 in 2020'] = housing_2020bottom["City"]
bottom10_df['Yearly Average of Bottom 10 in 2020'] = housing_2020bottom["Yearly Average"]
bottom10_df.to_csv("bottom10inventory.csv")
bottom10_df

,Bottom 10 in 2018,Yearly Average of Bottom 10 in 2018,Bottom 10 in 2019,Yearly Average of Bottom 10 in 2019,Bottom 10 in 2020,Yearly Average of Bottom 10 in 2020
26085,Cotton Plant,11649.083333,Cotton Plant,11875.916667,Cotton Plant,12192.888889
12425,Davy,13147.166667,Davy,13513.166667,Davy,14242.666667
23558,East Laurinburg,14324.000000,East Laurinburg,15835.333333,East Laurinburg,17041.777778
24552,Matoaka,14624.250000,Matoaka,14648.000000,Matoaka,14215.555556
24787,Patterson,15291.666667,Patterson,15732.000000,Patterson,16781.333333
8241,Shenandoah,15806.333333,Shenandoah,16701.583333,Shenandoah,17352.222222
20678,Belmore,16417.750000,Belmore,17830.000000,Belmore,19124.222222
20809,Bramwell,16700.416667,Bramwell,17271.500000,Bramwell,17249.444444
9384,Mahanoy City,16954.583333,Mahanoy City,16207.083333,Mahanoy City,15579.000000
14412,Dobbins Heights,17751.083333,Dobbins Heights,18779.416667,Dobbins Heights,19275.222222
20700,Gosnell,17877.500000,Gosnell,18896.916667,Gosnell,19879.000000
25864,Rome,18209.166667,Rome,19262.833333,Rome,20250.333333
16641,Iaeger,18244.166667,Iaeger,19990.583333,Iaeger,21127.333333
21454,Montcalm,18616.500000,Montcalm,18725.666667,Montcalm,18522.222222
24058,Oak Hall,18846.750000,NaN,NaN,NaN,NaN
21761,Rhodell,19469.416667,Rhodell,19616.500000,Rhodell,19511.777778
23521,Luke,19670.666667,Luke,20501.500000,Luke,20632.888889
25075,Payne City,20091.000000,Payne City,20083.583333,NaN,NaN
23351,Idlewild,20488.000000,NaN,NaN,NaN,NaN
19979,Huttig,20800.666667,Huttig,21369.250000,Huttig,21468.222222

In [27]:
#calculating yearly changes 

City = housing_df["City"]
State = housing_df["State"]
Average2018 = housing_2018['Yearly Average']
Average2019 = housing_2019['Yearly Average']
Average2020 = housing_2020['Yearly Average']

summary_df = pd.DataFrame({"City":City,"State":State,
                          "Average2018" : Average2018,
                          "Average2019" : Average2019,
                           "Average2020": Average2020})

summary_df["2018-2019 changing rate"]=''
summary_df["2019-2020 changing rate"]=''


for row in summary_df:
    rate_18 = ((summary_df['Average2019']- summary_df['Average2018'])/summary_df['Average2019'])*100
    summary_df['2018-2019 changing rate'] = rate_18
    
    rate_19 = ((summary_df['Average2020']- summary_df['Average2019'])/summary_df['Average2020'])*100
    summary_df['2019-2020 changing rate'] = rate_19

summary_df["Diff in 2018-2020 changing rate"]=summary_df["2019-2020 changing rate"]-summary_df["2018-2019 changing rate"]
summary_df.head()
summary_df.to_csv("housing_rate.csv")

In [28]:
summary_df

,City,State,Average2018,Average2019,Average2020,2018-2019 changing rate,2019-2020 changing rate,Diff in 2018-2020 changing rate
0,New York,NY,615862.333333,628522.666667,626765.444444,2.014300,-0.280364,-2.294664
1,Los Angeles,CA,691847.416667,702524.500000,740316.444444,1.519817,5.104837,3.585020
2,Houston,TX,178060.083333,186632.583333,192562.777778,4.593249,3.079616,-1.513633
3,Chicago,IL,264902.333333,267636.666667,271129.111111,1.021659,1.288111,0.266452
4,San Antonio,TX,179563.750000,189399.750000,194915.444444,5.193249,2.829788,-2.363460
...,...,...,...,...,...,...,...,...
26374,Blockton,IA,28561.333333,28720.083333,32530.444444,0.552749,11.713216,11.160467
26375,Smethport,PA,71368.416667,75621.083333,76157.888889,5.623652,0.704859,-4.918793
26376,Winfield,TX,66603.500000,68551.416667,71998.222222,2.841541,4.787348,1.945807
26377,Mount Charleston,NV,351774.583333,378887.166667,383419.444444,7.155846,1.182068,-5.973779
26378,Clearview,WV,139977.000000,143608.000000,147891.555556,2.528411,2.896417,0.368006