In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
import warnings
warnings.filterwarnings("ignore")

In [4]:
#reading csvs from cleaned data set
cleaned_pop_df = pd.read_csv("../CleanedData/cleaned_population.csv")
cleaned_rental_df = pd.read_csv("../CleanedData/cleaned_rental.csv")
cleaned_housing_df = pd.read_csv("../CleanedData/cleaned_inventory.csv")

#top&bottom csvs
T_pop = pd.read_csv("../TopBottom/mostchangedpop.csv")
B_pop = pd.read_csv("../TopBottom/leastchangedpop.csv")
T_house = pd.read_csv("../TopBottom/top10inventory.csv")
B_house = pd.read_csv("../TopBottom/bottom10inventory.csv")
T_rental = pd.read_csv("../TopBottom/top10rental.csv")
B_rental = pd.read_csv("../TopBottom/bottom10rental.csv")

#data set with changing rates
population_df = pd.read_csv("../PopRelated/sorted_population.csv")
rental_df = pd.read_csv("rental_rate.csv")
housing_df = pd.read_csv("housing_rate.csv")

#all house price csv 
house_df = pd.read_csv("../RawData/HomePriceFull.csv")

In [6]:
#finding the bottom 20 cities from the dataframe
df1 = housing_df.loc[(housing_df["City"]=="Columbus") & (housing_df["State"]=="GA")]
df2 = housing_df.loc[(housing_df["City"]=="Midland") & (housing_df["State"]=="TX")]
df3 = housing_df.loc[(housing_df["City"]=="Fayetteville") & (housing_df["State"]=="NC")]
df4 = housing_df.loc[(housing_df["City"]=="Tempe") & (housing_df["State"]=="AZ")]
df5 = housing_df.loc[(housing_df["City"]=="Surprise") & (housing_df["State"]=="AZ")]
df6 = housing_df.loc[(housing_df["City"]=="Fremont") & (housing_df["State"]=="CA")]
df7 = housing_df.loc[(housing_df["City"]=="Moreno Valley") & (housing_df["State"]=="CA")]
df8 = housing_df.loc[(housing_df["City"]=="North Las Vegas") & (housing_df["State"]=="NV")]
df9 = housing_df.loc[(housing_df["City"]=="Denton") & (housing_df["State"]=="TX")]
df10 = housing_df.loc[(housing_df["City"]=="Indianapolis") & (housing_df["State"]=="IN")]
df11 = housing_df.loc[(housing_df["City"]=="Omaha") & (housing_df["State"]=="NE")]
df12 = housing_df.loc[(housing_df["City"]=="Pittsburg") & (housing_df["State"]=="PA")]
df13 = housing_df.loc[(housing_df["City"]=="Newport News") & (housing_df["State"]=="VA")]
df14 = housing_df.loc[(housing_df["City"]=="Ontario") & (housing_df["State"]=="CA")]
df15 = housing_df.loc[(housing_df["City"]=="Tulsa") & (housing_df["State"]=="OK")]
df16 = housing_df.loc[(housing_df["City"]=="Port St. Lucie") & (housing_df["State"]=="FL")]
df17 = housing_df.loc[(housing_df["City"]=="St. Louis") & (housing_df["State"]=="MO")]
df18 = housing_df.loc[(housing_df["City"]=="Oklahoma City") & (housing_df["State"]=="OK")]
df19 = housing_df.loc[(housing_df["City"]=="Murfreesboro") & (housing_df["State"]=="TN")]
df20 = housing_df.loc[(housing_df["City"]=="Yonkers") & (housing_df["State"]=="NY")]


#combining the found data into a dateframe
frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19,df20]
bottom_df = pd.concat(frames).reset_index(drop=True)
bottom_df

,Unnamed: 0,City,State,Average2018,Average2019,Average2020,2018-2019 changing rate,2019-2020 changing rate
0,169,Columbus,GA,9.933292e+04,1.039322e+05,1.093953e+05,4.425242,4.993967
1,204,Midland,TX,2.436319e+05,2.707442e+05,2.651911e+05,10.014002,-2.094014
2,103,Fayetteville,NC,1.184733e+05,1.239264e+05,1.295862e+05,4.400259,4.367598
3,174,Tempe,AZ,2.757105e+05,2.917946e+05,3.171243e+05,5.512125,7.987325
4,268,Surprise,AZ,2.508628e+05,2.652201e+05,2.857418e+05,5.413366,7.181902
5,114,Fremont,CA,1.102804e+06,1.090738e+06,1.085007e+06,-1.106262,-0.528148
6,141,Moreno Valley,CA,3.256356e+05,3.401662e+05,3.562850e+05,4.271613,4.524140
7,113,North Las Vegas,NV,2.494712e+05,2.662613e+05,2.738752e+05,6.305897,2.780058
8,276,Denton,TX,2.409089e+05,2.494300e+05,2.566359e+05,3.416222,2.807826
9,13,Indianapolis,IN,1.381447e+05,1.496126e+05,1.593342e+05,7.665075,6.101413
10,34,Omaha,NE,1.843787e+05,1.939388e+05,2.044283e+05,4.929434,5.131179
11,183,Newport News,VA,1.781652e+05,1.836820e+05,1.909760e+05,3.003470,3.819328
12,168,Ontario,CA,4.126561e+05,4.242089e+05,4.423899e+05,2.723383,4.109717
13,46,Tulsa,OK,1.236555e+05,1.270375e+05,1.331227e+05,2.662206,4.571097
14,36,Oklahoma City,OK,1.344863e+05,1.402137e+05,1.489124e+05,4.084718,5.841539
15,175,Murfreesboro,TN,2.472001e+05,2.582172e+05,2.708258e+05,4.266596,4.655617
16,138,Yonkers,NY,5.166354e+05,5.257448e+05,5.383018e+05,1.732653,2.332712

In [8]:
#finding the top 20 cities from the dataframe
df1 = housing_df.loc[(housing_df["City"]=="Salt Lake City") & (housing_df["State"]=="UT")]
df2 = housing_df.loc[(housing_df["City"]=="Hialeah") & (housing_df["State"]=="FL")]
df3 = housing_df.loc[(housing_df["City"]=="Jersey City") & (housing_df["State"]=="NJ")]
df4 = housing_df.loc[(housing_df["City"]=="Irvine") & (housing_df["State"]=="CA")]
df5 = housing_df.loc[(housing_df["City"]=="Alexandria") & (housing_df["State"]=="VA")]
df6 = housing_df.loc[(housing_df["City"]=="Bellevue") & (housing_df["State"]=="WA")]
df7 = housing_df.loc[(housing_df["City"]=="Garland") & (housing_df["State"]=="TX")]
df8 = housing_df.loc[(housing_df["City"]=="Glendale") & (housing_df["State"]=="CA")]
df9 = housing_df.loc[(housing_df["City"]=="Clarksville") & (housing_df["State"]=="TN")]
df10 = housing_df.loc[(housing_df["City"]=="Tampa") & (housing_df["State"]=="FL")]
df11 = housing_df.loc[(housing_df["City"]=="Miami") & (housing_df["State"]=="FL")]
df12 = housing_df.loc[(housing_df["City"]=="Dallas") & (housing_df["State"]=="TX")]
df13 = housing_df.loc[(housing_df["City"]=="Des Moines") & (housing_df["State"]=="IZ")]
df14 = housing_df.loc[(housing_df["City"]=="Waco") & (housing_df["State"]=="TX")]
df15 = housing_df.loc[(housing_df["City"]=="Seattle") & (housing_df["State"]=="WA")]
df16 = housing_df.loc[(housing_df["City"]=="Boston") & (housing_df["State"]=="MA")]
df17 = housing_df.loc[(housing_df["City"]=="Irving") & (housing_df["State"]=="TX")]
df18 = housing_df.loc[(housing_df["City"]=="Salem") & (housing_df["State"]=="OR")]
df19 = housing_df.loc[(housing_df["City"]=="Eugene") & (housing_df["State"]=="OR")]
df20 = housing_df.loc[(housing_df["City"]=="St. Petersburg") & (housing_df["State"]=="FL")]


#combining the found data into a dateframe
frames = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19,df20]
top_df = pd.concat(frames).reset_index(drop=True)
top_df

,Unnamed: 0,City,State,Average2018,Average2019,Average2020,2018-2019 changing rate,2019-2020 changing rate
0,149,Salt Lake City,UT,372028.333333,403676.583333,426918.222222,7.840001,5.444049
1,92,Hialeah,FL,274104.083333,287202.833333,295955.000000,4.560801,2.957263
2,89,Jersey City,NJ,509275.250000,515026.750000,529459.333333,1.116738,2.725910
3,105,Irvine,CA,894327.500000,895065.666667,903923.000000,0.082471,0.979877
4,207,Alexandria,VA,502257.583333,523444.250000,552416.888889,4.047550,5.244705
5,247,Bellevue,WA,924025.833333,900209.750000,953660.000000,-2.645615,5.604749
6,110,Garland,TX,193970.333333,206703.666667,211902.555556,6.160187,2.453434
7,139,Glendale,CA,820642.916667,832062.666667,873757.222222,1.372463,4.771870
8,185,Clarksville,TN,178903.666667,187340.000000,200576.666667,4.503221,6.599305
9,55,Tampa,FL,231498.666667,243883.250000,258432.666667,5.078079,5.629867
10,39,Miami,FL,346168.916667,353490.500000,359586.111111,2.071225,1.695174
11,9,Dallas,TX,212800.000000,228435.583333,233661.888889,6.844636,2.236696
12,271,Waco,TX,131066.416667,139240.666667,147928.555556,5.870591,5.873030
13,24,Seattle,WA,741243.666667,714093.333333,743001.333333,-3.802071,3.890706
14,26,Boston,MA,622783.833333,637492.750000,646752.444444,2.307307,1.431722
15,117,Irving,TX,226077.750000,241110.416667,249342.111111,6.234765,3.301366
16,161,Salem,OR,272965.083333,291647.166667,302070.555556,6.405714,3.450647
17,148,Eugene,OR,304029.333333,321903.750000,344103.666667,5.552721,6.451520