In [215]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
covid_df = pd.read_csv("covid.csv")

In [216]:
covid_df.iloc[:, 3::].astype(float)
del covid_df["countyFIPS"]
del covid_df["stateFIPS"]
covid_df.groupby("State")
covid_df.head()

,County Name,State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,10/7/20,10/8/20,10/9/20,10/10/20,10/11/20,10/12/20,10/13/20,10/14/20,10/15/20,10/16/20
0,Statewide Unallocated,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Autauga County,AL,0,0,0,0,0,0,0,0,...,1852,1863,1882,1898,1905,1911,1924,1928,1949,1966
2,Baldwin County,AL,0,0,0,0,0,0,0,0,...,6134,6141,6172,6190,6203,6220,6248,6270,6285,6333
3,Barbour County,AL,0,0,0,0,0,0,0,0,...,927,927,939,942,942,944,950,950,965,968
4,Bibb County,AL,0,0,0,0,0,0,0,0,...,703,708,719,726,736,738,744,744,761,771

In [217]:
Case_county_df = covid_df[["County Name", "State"]]

Case_county_df["2020-01"] = covid_df["1/22/20"]+covid_df["1/23/20"]+covid_df["1/24/20"]+covid_df["1/25/20"]+covid_df["1/26/20"]+covid_df["1/27/20"]+covid_df["1/28/20"]+covid_df["1/29/20"]+covid_df["1/30/20"]+covid_df["1/31/20"]

Case_county_df["2020-02"] = covid_df["2/1/20"]+covid_df["2/2/20"]+covid_df["2/3/20"]+covid_df["2/3/20"]+covid_df["2/4/20"]+covid_df["2/5/20"]+covid_df["2/6/20"]+covid_df["2/7/20"]+covid_df["2/8/20"]+covid_df["2/9/20"]+covid_df["2/10/20"]+covid_df["2/11/20"]+covid_df["2/12/20"]+covid_df["2/13/20"]+covid_df["2/14/20"]+covid_df["2/15/20"]+covid_df["2/16/20"]+covid_df["2/17/20"]+covid_df["2/18/20"]+covid_df["2/19/20"]+covid_df["2/20/20"]+covid_df["2/21/20"]+covid_df["2/22/20"]+covid_df["2/23/20"]+covid_df["2/24/20"]+covid_df["2/25/20"]+covid_df["2/26/20"]+covid_df["2/27/20"]+covid_df["2/28/20"]+covid_df["2/29/20"]

Case_county_df["2020-03"] = covid_df["3/1/20"]+covid_df["3/2/20"]+covid_df["3/3/20"]+covid_df["3/3/20"]+covid_df["3/4/20"]+covid_df["3/5/20"]+covid_df["3/6/20"]+covid_df["3/7/20"]+covid_df["3/8/20"]+covid_df["3/9/20"]+covid_df["3/10/20"]+covid_df["3/11/20"]+covid_df["3/12/20"]+covid_df["3/13/20"]+covid_df["3/14/20"]+covid_df["3/15/20"]+covid_df["3/16/20"]+covid_df["3/17/20"]+covid_df["3/18/20"]+covid_df["3/19/20"]+covid_df["3/20/20"]+covid_df["3/21/20"]+covid_df["3/22/20"]+covid_df["3/23/20"]+covid_df["3/24/20"]+covid_df["3/25/20"]+covid_df["3/26/20"]+covid_df["3/27/20"]+covid_df["3/28/20"]+covid_df["3/29/20"]+covid_df["3/30/20"]+covid_df["3/31/20"]

Case_county_df["2020-04"] = covid_df["4/1/20"]+covid_df["4/2/20"]+covid_df["4/3/20"]+covid_df["4/3/20"]+covid_df["4/4/20"]+covid_df["4/5/20"]+covid_df["4/6/20"]+covid_df["4/7/20"]+covid_df["4/8/20"]+covid_df["4/9/20"]+covid_df["4/10/20"]+covid_df["4/11/20"]+covid_df["4/12/20"]+covid_df["4/13/20"]+covid_df["4/14/20"]+covid_df["4/15/20"]+covid_df["4/16/20"]+covid_df["4/17/20"]+covid_df["4/18/20"]+covid_df["4/19/20"]+covid_df["4/20/20"]+covid_df["4/21/20"]+covid_df["4/22/20"]+covid_df["4/23/20"]+covid_df["4/24/20"]+covid_df["4/25/20"]+covid_df["4/26/20"]+covid_df["4/27/20"]+covid_df["4/28/20"]+covid_df["4/29/20"]+covid_df["4/30/20"]

Case_county_df["2020-05"] = covid_df["5/1/20"]+covid_df["5/2/20"]+covid_df["5/3/20"]+covid_df["5/3/20"]+covid_df["5/4/20"]+covid_df["5/5/20"]+covid_df["5/6/20"]+covid_df["5/7/20"]+covid_df["5/8/20"]+covid_df["5/9/20"]+covid_df["5/10/20"]+covid_df["5/11/20"]+covid_df["5/12/20"]+covid_df["5/13/20"]+covid_df["5/14/20"]+covid_df["5/15/20"]+covid_df["5/16/20"]+covid_df["5/17/20"]+covid_df["5/18/20"]+covid_df["5/19/20"]+covid_df["5/20/20"]+covid_df["5/21/20"]+covid_df["5/22/20"]+covid_df["5/23/20"]+covid_df["5/24/20"]+covid_df["5/25/20"]+covid_df["3/26/20"]+covid_df["5/27/20"]+covid_df["5/28/20"]+covid_df["5/29/20"]+covid_df["5/30/20"]+covid_df["5/31/20"]

Case_county_df["2020-06"] = covid_df["6/1/20"]+covid_df["6/2/20"]+covid_df["6/3/20"]+covid_df["6/3/20"]+covid_df["6/4/20"]+covid_df["6/5/20"]+covid_df["6/6/20"]+covid_df["6/7/20"]+covid_df["6/8/20"]+covid_df["6/9/20"]+covid_df["6/10/20"]+covid_df["6/11/20"]+covid_df["6/12/20"]+covid_df["6/13/20"]+covid_df["6/14/20"]+covid_df["6/15/20"]+covid_df["6/16/20"]+covid_df["6/17/20"]+covid_df["6/18/20"]+covid_df["6/19/20"]+covid_df["6/20/20"]+covid_df["6/21/20"]+covid_df["6/22/20"]+covid_df["6/23/20"]+covid_df["6/24/20"]+covid_df["6/25/20"]+covid_df["6/26/20"]+covid_df["6/27/20"]+covid_df["6/28/20"]+covid_df["6/29/20"]+covid_df["6/30/20"]

Case_county_df["2020-07"] = covid_df["7/1/20"]+covid_df["7/2/20"]+covid_df["7/3/20"]+covid_df["7/3/20"]+covid_df["7/4/20"]+covid_df["7/5/20"]+covid_df["7/6/20"]+covid_df["7/7/20"]+covid_df["7/8/20"]+covid_df["7/9/20"]+covid_df["7/10/20"]+covid_df["7/11/20"]+covid_df["7/12/20"]+covid_df["7/13/20"]+covid_df["7/14/20"]+covid_df["7/15/20"]+covid_df["7/16/20"]+covid_df["7/17/20"]+covid_df["7/18/20"]+covid_df["7/19/20"]+covid_df["7/20/20"]+covid_df["7/21/20"]+covid_df["7/22/20"]+covid_df["7/23/20"]+covid_df["7/24/20"]+covid_df["7/25/20"]+covid_df["7/26/20"]+covid_df["7/27/20"]+covid_df["7/28/20"]+covid_df["7/29/20"]+covid_df["7/30/20"]+covid_df["7/31/20"]

Case_county_df["2020-08"] = covid_df["8/1/20"]+covid_df["8/2/20"]+covid_df["8/3/20"]+covid_df["8/3/20"]+covid_df["8/4/20"]+covid_df["8/5/20"]+covid_df["8/6/20"]+covid_df["8/7/20"]+covid_df["8/8/20"]+covid_df["8/9/20"]+covid_df["8/10/20"]+covid_df["8/11/20"]+covid_df["8/12/20"]+covid_df["8/13/20"]+covid_df["8/14/20"]+covid_df["8/15/20"]+covid_df["8/16/20"]+covid_df["8/17/20"]+covid_df["8/18/20"]+covid_df["8/19/20"]+covid_df["8/20/20"]+covid_df["8/21/20"]+covid_df["8/22/20"]+covid_df["8/23/20"]+covid_df["8/24/20"]+covid_df["8/25/20"]+covid_df["8/26/20"]+covid_df["8/27/20"]+covid_df["8/28/20"]+covid_df["8/29/20"]+covid_df["8/30/20"]+covid_df["8/31/20"]

Case_county_df["2020-09"] = covid_df["9/1/20"]+covid_df["9/2/20"]+covid_df["9/3/20"]+covid_df["9/3/20"]+covid_df["9/4/20"]+covid_df["9/5/20"]+covid_df["9/6/20"]+covid_df["9/7/20"]+covid_df["9/8/20"]+covid_df["9/9/20"]+covid_df["9/10/20"]+covid_df["9/11/20"]+covid_df["9/12/20"]+covid_df["9/13/20"]+covid_df["9/14/20"]+covid_df["9/15/20"]+covid_df["9/16/20"]+covid_df["9/17/20"]+covid_df["9/18/20"]+covid_df["9/19/20"]+covid_df["9/20/20"]+covid_df["9/21/20"]+covid_df["9/22/20"]+covid_df["9/23/20"]+covid_df["9/24/20"]+covid_df["9/25/20"]+covid_df["9/26/20"]+covid_df["9/27/20"]+covid_df["9/28/20"]+covid_df["9/29/20"]+covid_df["9/30/20"]

Case_county_df["2020-10"] = covid_df["10/1/20"]+covid_df["10/2/20"]+covid_df["10/3/20"]+covid_df["10/3/20"]+covid_df["10/4/20"]+covid_df["10/5/20"]+covid_df["10/6/20"]+covid_df["10/7/20"]+covid_df["10/8/20"]+covid_df["10/9/20"]+covid_df["10/10/20"]+covid_df["10/11/20"]+covid_df["10/12/20"]+covid_df["10/13/20"]+covid_df["10/14/20"]+covid_df["10/15/20"]+covid_df["10/16/20"]

<ipython-input-217-b1c85c516b8b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-01"] = covid_df["1/22/20"]+covid_df["1/23/20"]+covid_df["1/24/20"]+covid_df["1/25/20"]+covid_df["1/26/20"]+covid_df["1/27/20"]+covid_df["1/28/20"]+covid_df["1/29/20"]+covid_df["1/30/20"]+covid_df["1/31/20"]
<ipython-input-217-b1c85c516b8b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-02"] = covid_df["2/1/20"]+covid_df["2/2/20"]+covid_df["2/3/20"]+covid_df["2/3/20"]+covid_df["2/4/20"]+covid_df["2/5/20"]+covid_df["2/6/20"]+covid_df["2/7/20"]+covid_df["2/8/20"]+covid_df["2/9/20"]+covid_df["2/10/20"]+covid_df["2/11/20"]+covid_df["2/12/20"]+covid_df["2/13/20"]+covid_df["2/14/20"]+covid_df["2/15/20"]+covid_df["2/16/20"]+covid_df["2/17/20"]+covid_df["2/18/20"]+covid_df["2/19/20"]+covid_df["2/20/20"]+covid_df["2/21/20"]+covid_df["2/22/20"]+covid_df["2/23/20"]+covid_df["2/24/20"]+covid_df["2/25/20"]+covid_df["2/26/20"]+covid_df["2/27/20"]+covid_df["2/28/20"]+covid_df["2/29/20"]
<ipython-input-217-b1c85c516b8b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-03"] = covid_df["3/1/20"]+covid_df["3/2/20"]+covid_df["3/3/20"]+covid_df["3/3/20"]+covid_df["3/4/20"]+covid_df["3/5/20"]+covid_df["3/6/20"]+covid_df["3/7/20"]+covid_df["3/8/20"]+covid_df["3/9/20"]+covid_df["3/10/20"]+covid_df["3/11/20"]+covid_df["3/12/20"]+covid_df["3/13/20"]+covid_df["3/14/20"]+covid_df["3/15/20"]+covid_df["3/16/20"]+covid_df["3/17/20"]+covid_df["3/18/20"]+covid_df["3/19/20"]+covid_df["3/20/20"]+covid_df["3/21/20"]+covid_df["3/22/20"]+covid_df["3/23/20"]+covid_df["3/24/20"]+covid_df["3/25/20"]+covid_df["3/26/20"]+covid_df["3/27/20"]+covid_df["3/28/20"]+covid_df["3/29/20"]+covid_df["3/30/20"]+covid_df["3/31/20"]
<ipython-input-217-b1c85c516b8b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-04"] = covid_df["4/1/20"]+covid_df["4/2/20"]+covid_df["4/3/20"]+covid_df["4/3/20"]+covid_df["4/4/20"]+covid_df["4/5/20"]+covid_df["4/6/20"]+covid_df["4/7/20"]+covid_df["4/8/20"]+covid_df["4/9/20"]+covid_df["4/10/20"]+covid_df["4/11/20"]+covid_df["4/12/20"]+covid_df["4/13/20"]+covid_df["4/14/20"]+covid_df["4/15/20"]+covid_df["4/16/20"]+covid_df["4/17/20"]+covid_df["4/18/20"]+covid_df["4/19/20"]+covid_df["4/20/20"]+covid_df["4/21/20"]+covid_df["4/22/20"]+covid_df["4/23/20"]+covid_df["4/24/20"]+covid_df["4/25/20"]+covid_df["4/26/20"]+covid_df["4/27/20"]+covid_df["4/28/20"]+covid_df["4/29/20"]+covid_df["4/30/20"]
<ipython-input-217-b1c85c516b8b>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-05"] = covid_df["5/1/20"]+covid_df["5/2/20"]+covid_df["5/3/20"]+covid_df["5/3/20"]+covid_df["5/4/20"]+covid_df["5/5/20"]+covid_df["5/6/20"]+covid_df["5/7/20"]+covid_df["5/8/20"]+covid_df["5/9/20"]+covid_df["5/10/20"]+covid_df["5/11/20"]+covid_df["5/12/20"]+covid_df["5/13/20"]+covid_df["5/14/20"]+covid_df["5/15/20"]+covid_df["5/16/20"]+covid_df["5/17/20"]+covid_df["5/18/20"]+covid_df["5/19/20"]+covid_df["5/20/20"]+covid_df["5/21/20"]+covid_df["5/22/20"]+covid_df["5/23/20"]+covid_df["5/24/20"]+covid_df["5/25/20"]+covid_df["3/26/20"]+covid_df["5/27/20"]+covid_df["5/28/20"]+covid_df["5/29/20"]+covid_df["5/30/20"]+covid_df["5/31/20"]
<ipython-input-217-b1c85c516b8b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-06"] = covid_df["6/1/20"]+covid_df["6/2/20"]+covid_df["6/3/20"]+covid_df["6/3/20"]+covid_df["6/4/20"]+covid_df["6/5/20"]+covid_df["6/6/20"]+covid_df["6/7/20"]+covid_df["6/8/20"]+covid_df["6/9/20"]+covid_df["6/10/20"]+covid_df["6/11/20"]+covid_df["6/12/20"]+covid_df["6/13/20"]+covid_df["6/14/20"]+covid_df["6/15/20"]+covid_df["6/16/20"]+covid_df["6/17/20"]+covid_df["6/18/20"]+covid_df["6/19/20"]+covid_df["6/20/20"]+covid_df["6/21/20"]+covid_df["6/22/20"]+covid_df["6/23/20"]+covid_df["6/24/20"]+covid_df["6/25/20"]+covid_df["6/26/20"]+covid_df["6/27/20"]+covid_df["6/28/20"]+covid_df["6/29/20"]+covid_df["6/30/20"]
<ipython-input-217-b1c85c516b8b>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-07"] = covid_df["7/1/20"]+covid_df["7/2/20"]+covid_df["7/3/20"]+covid_df["7/3/20"]+covid_df["7/4/20"]+covid_df["7/5/20"]+covid_df["7/6/20"]+covid_df["7/7/20"]+covid_df["7/8/20"]+covid_df["7/9/20"]+covid_df["7/10/20"]+covid_df["7/11/20"]+covid_df["7/12/20"]+covid_df["7/13/20"]+covid_df["7/14/20"]+covid_df["7/15/20"]+covid_df["7/16/20"]+covid_df["7/17/20"]+covid_df["7/18/20"]+covid_df["7/19/20"]+covid_df["7/20/20"]+covid_df["7/21/20"]+covid_df["7/22/20"]+covid_df["7/23/20"]+covid_df["7/24/20"]+covid_df["7/25/20"]+covid_df["7/26/20"]+covid_df["7/27/20"]+covid_df["7/28/20"]+covid_df["7/29/20"]+covid_df["7/30/20"]+covid_df["7/31/20"]
<ipython-input-217-b1c85c516b8b>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-08"] = covid_df["8/1/20"]+covid_df["8/2/20"]+covid_df["8/3/20"]+covid_df["8/3/20"]+covid_df["8/4/20"]+covid_df["8/5/20"]+covid_df["8/6/20"]+covid_df["8/7/20"]+covid_df["8/8/20"]+covid_df["8/9/20"]+covid_df["8/10/20"]+covid_df["8/11/20"]+covid_df["8/12/20"]+covid_df["8/13/20"]+covid_df["8/14/20"]+covid_df["8/15/20"]+covid_df["8/16/20"]+covid_df["8/17/20"]+covid_df["8/18/20"]+covid_df["8/19/20"]+covid_df["8/20/20"]+covid_df["8/21/20"]+covid_df["8/22/20"]+covid_df["8/23/20"]+covid_df["8/24/20"]+covid_df["8/25/20"]+covid_df["8/26/20"]+covid_df["8/27/20"]+covid_df["8/28/20"]+covid_df["8/29/20"]+covid_df["8/30/20"]+covid_df["8/31/20"]
<ipython-input-217-b1c85c516b8b>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-09"] = covid_df["9/1/20"]+covid_df["9/2/20"]+covid_df["9/3/20"]+covid_df["9/3/20"]+covid_df["9/4/20"]+covid_df["9/5/20"]+covid_df["9/6/20"]+covid_df["9/7/20"]+covid_df["9/8/20"]+covid_df["9/9/20"]+covid_df["9/10/20"]+covid_df["9/11/20"]+covid_df["9/12/20"]+covid_df["9/13/20"]+covid_df["9/14/20"]+covid_df["9/15/20"]+covid_df["9/16/20"]+covid_df["9/17/20"]+covid_df["9/18/20"]+covid_df["9/19/20"]+covid_df["9/20/20"]+covid_df["9/21/20"]+covid_df["9/22/20"]+covid_df["9/23/20"]+covid_df["9/24/20"]+covid_df["9/25/20"]+covid_df["9/26/20"]+covid_df["9/27/20"]+covid_df["9/28/20"]+covid_df["9/29/20"]+covid_df["9/30/20"]
<ipython-input-217-b1c85c516b8b>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Case_county_df["2020-10"] = covid_df["10/1/20"]+covid_df["10/2/20"]+covid_df["10/3/20"]+covid_df["10/3/20"]+covid_df["10/4/20"]+covid_df["10/5/20"]+covid_df["10/6/20"]+covid_df["10/7/20"]+covid_df["10/8/20"]+covid_df["10/9/20"]+covid_df["10/10/20"]+covid_df["10/11/20"]+covid_df["10/12/20"]+covid_df["10/13/20"]+covid_df["10/14/20"]+covid_df["10/15/20"]+covid_df["10/16/20"]

In [218]:
Case_county_df

,County Name,State,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10
0,Statewide Unallocated,AL,0,0,0,0,0,0,0,0,1074,0
1,Autauga County,AL,0,0,43,741,3528,11322,24796,39834,50019,31815
2,Baldwin County,AL,0,0,96,2905,7407,12395,55247,123527,155255,104587
3,Barbour County,AL,0,0,0,507,2574,7493,14500,21464,25304,15861
4,Bibb County,AL,0,0,5,659,1607,3467,8143,15122,18961,12117
...,...,...,...,...,...,...,...,...,...,...,...,...
3190,Sweetwater County,WY,0,0,10,244,551,1493,5184,8764,9890,6450
3191,Teton County,WY,0,0,107,1650,2487,3342,6479,12412,15037,10935
3192,Uinta County,WY,0,0,0,132,270,2748,6777,8905,10045,6333
3193,Washakie County,WY,0,0,5,137,442,1201,1369,2797,3469,2091
3194,Weston County,WY,0,0,0,0,5,33,95,292,760,901

In [220]:
Case_State_df = Case_df.groupby("State").sum()
Case_State_df

,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10
State,,,,,,,,,,
AK,0,0,840,8465,12271,20757,56372,134078,199921,155333
AL,0,0,6113,126551,364935,814042,1958693,3447548,4356535,2766055
AR,0,0,3880,54197,147565,410146,994703,1678258,2228556,1538508
AZ,6,30,6776,130406,409644,1314533,4194864,6129546,6523701,3802740
CA,20,276,60593,880373,2432129,5007664,11521739,19650411,23827665,14381550
CO,0,0,18490,265011,655592,913845,1247205,1685224,1954019,1296140
CT,0,0,14598,472117,1113179,1391413,1530327,1635489,1704526,1018300
DC,0,0,3473,71627,212055,300844,356878,420162,455436,268295
DE,0,0,1865,67943,225643,322247,422581,518401,589743,369665
FL,0,0,35696,681665,1382423,2696475,9925088,17961783,20744492,12355369
GA,0,0,22101,468919,1105769,1878452,4210319,7453775,9201684,5573999
HI,0,0,1439,15420,19785,23329,42844,159938,334200,223891
IA,0,0,2779,84238,430471,745783,1173121,1680424,2362440,1638396
ID,0,0,2356,46693,74471,119426,414486,864167,1127069,791545
IL,9,60,33076,811003,2768009,4116224,5080279,6595150,8213802,5312206
IN,0,0,10391,292159,826245,1246306,1750232,2570455,3395116,2271171
KS,0,0,2325,55064,234208,362522,671463,1109091,1587605,1118785
KY,0,0,3072,74735,226640,394853,694918,1249352,1811460,1311959
LA,0,0,28891,635059,1051976,1471607,2756473,4341214,4896449,2897665
MA,0,30,34292,987939,2559432,3266402,3608336,3941188,4118003,2443158
MD,0,0,8761,329031,1162712,1901778,2443230,3178097,3627659,2204034
ME,0,0,2070,22764,51160,86562,115644,133852,153239,95858
MI,0,0,39176,832187,1551179,2030625,2551105,3252585,3877086,2502424
MN,0,0,4459,63659,454132,950273,1423809,2075219,2685157,1849791
MO,0,0,6392,146251,325706,516100,1028122,2138511,3272480,2358618
MS,0,0,5491,111533,338172,629035,1308483,2295632,2819173,1755332
MT,0,0,1193,11428,14684,20579,71907,180958,300751,289294
NC,0,0,8440,167017,558940,1405862,2971449,4647912,5870443,3860829
ND,0,0,784,14622,56300,95953,152751,279517,508676,438201
NE,0,0,1200,40209,293795,517153,706242,955757,1216085,852468
NH,0,0,2239,37275,107206,164516,196823,222569,240274,151652
NJ,0,0,91694,2220845,4446733,5170098,5636793,5984469,6134170,3593419
NM,0,0,1964,49610,173842,306395,516874,742988,841379,545472
NV,0,0,6535,97295,210055,373621,1032629,1926452,2301661,1430294
NY,0,0,467287,6331287,10686985,11889680,12942071,13602183,13833403,7994525
OH,0,0,12066,290304,835142,1316727,2258077,3437439,4317476,2806826
OK,0,0,2984,67820,158389,284370,753170,1531145,2239539,1635121
OR,0,1,4616,51365,107395,188196,429734,732500,927128,615510
PA,0,0,23490,809973,1864436,2454437,3154548,3952631,4535891,2864481
RI,0,0,2513,118651,376072,496529,556785,617272,684363,413304
SC,0,0,6321,114476,266955,648280,2012514,3368088,4138660,2634253
SD,0,0,703,36327,116918,182929,246986,335541,543383,454845
TN,0,0,12866,194274,531943,984087,2310222,4215608,5449642,3563917
TX,0,0,19609,486116,1404741,3065899,9393981,17130039,21265235,13480610
UT,0,0,5508,83498,217695,473891,1010571,1484735,1882482,1398169
VA,0,0,6782,227251,905139,1690421,2395002,3384312,4193240,2649089
VT,0,0,1836,21526,29109,34531,42236,48291,52394,31201
WA,10,36,47989,332900,560246,825026,1412706,2127553,2503425,1564509
WI,0,0,9015,120630,376633,718981,1275428,2078610,3033524,2568113
WV,0,0,838,21515,46283,73327,148266,269228,405208,298020
WY,0,0,769,8731,19521,34610,65547,105074,143940,122289